.myChart{
    /* height: 100px; */
    width: 12000px;
  }


  
  .myChartWrapper{
    /* height: ; */
    width: 2000;
    overflow-x: scroll;
    overflow-y: hidden;
  }


  .avgChart{
    /* height: 100px; */
    /* width: 790px; */
  }

  .avgChartWrapper{
    /* height: ; */
    /* width: 790; */
    overflow-x: hidden;
    overflow-y: hidden;
  }

.style14 { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  }

  .geeks { 
    width:90%; 
    height:150px; 
    padding:5px;
} 
/* img { 
    width:100%; 
    height:100%; 
  
}  */
