
<div class="row">
    <div class="col-4"></div>
      <div class="col-4">
          <div class="card">
              <div class="card-header card-header-info">

                  <h4 class="card-title">
                    <img class="mr-3" src="/assets/img/logo.png" width="45" height="45"/><b>Hand Rehab System</b></h4>
              </div>
              <div class="card-body">
                  <form [formGroup]="form" (ngSubmit)="signIn()">
                      <div><center><h3><b>Login</b></h3></center></div>
                      <div class="row">
                          <div class="col-1"></div>
                          <div class="col-10">
                              <mat-form-field class="example-full-width mt-2 mb-2">
                                <input formControlName="id" matInput placeholder="ID" type="text">
                              </mat-form-field>
                          </div>
                          <div class="col-1"></div>
                      </div>
                      <div class="row">
                        <div class="col-1"></div>
                          <div class="col-10">
                            <mat-form-field class="example-full-width mt-2 mb-4">
                              <input formControlName="password" matInput placeholder="Password" type="password">
                            </mat-form-field>
                            <div class="col-1"></div>
                          </div>
                      </div>
                      <center><mat-hint class="text-danger" *ngIf="invalidLogin"><b>Invalid username and/or password.</b></mat-hint></center>
                     
                      <center><button mat-raised-button type="submit" class="btn btn-info mt-4" [disabled]="!form.valid">Login</button></center>
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>
      </div>
      <div class="col-4"></div>
  </div>