
<div class="row">
    <div class="col-4"></div>
      <div class="col-4">
          <div class="card">
              <div class="card-header card-header-info">

                  <h4 class="card-title">
                    <img class="mr-3" src="/assets/img/logo.png" width="45" height="45"/>Hand Rehab System</h4>
              </div>
              <div class="card-body">
                  <form>
                      <div><center><h3><b>Login</b></h3></center></div>
                      <div class="row">
                          <div class="col-1"></div>
                          <div class="col-10">
                              <mat-form-field class="example-full-width mt-2 mb-2">
                                <input matInput placeholder="ID" type="text">
                              </mat-form-field>
                          </div>
                          <div class="col-1"></div>
                      </div>
                      <div class="row">
                        <div class="col-1"></div>
                          <div class="col-10">
                            <mat-form-field class="example-full-width mt-2 mb-4">
                              <input  matInput placeholder="Password" type="password">
                            </mat-form-field>
                            <div class="col-1"></div>
                          </div>
                      </div>
          
                      <center><button mat-raised-button type="submit" class="btn btn-info mt-4">Login</button></center>
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>
      </div>
      <div class="col-4"></div>
  </div>