
<div class="row">
    <div class="col-4"></div>
      <div class="col-4">
          <div class="card">
              <div class="card-header card-header-info">

                  <h4 class="card-title">
                    <img class="mr-3" src="/assets/img/logo.png" width="45" height="45"/>RM Rehab System</h4>
              </div>
              <div class="card-body">
                <form [formGroup]="signupForm" (ngSubmit)="signup()">
                  <div><center><h3><b>Sign Up</b></h3></center></div>
                    <div class="row">
                        <div class="col-12">
                          <mat-form-field class="example-full-width mb-0">
                              <input  formControlName="id" matInput placeholder="ID*">
                            </mat-form-field>

                        </div>
                        <div class="col-12">
                            <mat-form-field class="example-full-width">
                              <input  formControlName="email" matInput placeholder="Email address*" type="email">
                              <mat-hint class="text-danger" *ngIf="email.errors?.email">Invalid Email</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <mat-form-field class="example-full-width">
                            <input  formControlName="firstName" (change)="upper_first_letter()" [(ngModel)]="firstName.value"  matInput placeholder="First Name*" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field class="example-full-width">
                            <input formControlName="lastName" (change)="upper_first_letter()" [(ngModel)]="lastName.value"  matInput placeholder="Last Name*" type="text">

                          </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                          <mat-form-field class="example-full-width">
                            <input formControlName="address"  matInput placeholder="Address*" type="text"> 
                          </mat-form-field>
                        </div>
                        <div class="col-12">
                          <mat-form-field class="example-full-width">
                            <input formControlName="phone"   matInput placeholder="Phone Number*" type="text">
                            <mat-hint class="text-danger" *ngIf="phone.errors?.pattern">Invalid Phone Number</mat-hint>
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                          <mat-form-field class="example-full-width">
                            <input formControlName="newPassword"  matInput placeholder="Password*" type="password">
                            <mat-hint class="text-danger" *ngIf="newPassword.errors?.pattern">Password must contain minimum 8 characters, at least one letter, one number and one special character</mat-hint>
                          </mat-form-field>
                        </div>
                        <div class="col-12">
                          <mat-form-field class="example-full-width">
                            <input  formControlName="confirmPassword" matInput placeholder="Confirm Password*" type="password">
                            <mat-hint class="text-danger" *ngIf="confirmPassword.valid  && signupForm.invalid && signupForm.errors?.passwordsShouldMatch">Passwords do not match</mat-hint>
                          </mat-form-field>
                        </div>
                    </div>
                    
                  <center>
                    <button mat-raised-button type="submit" class="btn btn-info mt-2" [disabled]="!signupForm.valid">Sign Up</button>
                    <br><br><a href="/#/login">Already Have an Account?</a>
                  </center>
                    <div class="clearfix"></div>
                </form>

              </div>
          </div>
      </div>
      <div class="col-4"></div>
  </div>