<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-1"></div>
          <div class="col-10">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="updateDetailsForm" (ngSubmit)="updateDetails()">
                          <div class="row">
                              <div class="col-6">
                                <mat-form-field class="example-full-width mb-0">
                                    <input  formControlName="id" matInput placeholder="ID" [(ngModel)]="terapist.user_id" disabled>
                                  </mat-form-field>

                              </div>
                              <div class="col-6">
                                  <mat-form-field class="example-full-width">
                                    <input  formControlName="email" matInput placeholder="Email address" type="email" [(ngModel)]="terapist.email">
                                    <mat-hint class="text-danger" *ngIf="email.errors?.email">Invalid Email</mat-hint>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-6">
                                <mat-form-field class="example-full-width">
                                  <input  formControlName="firstName"  matInput placeholder="First Name" type="text" [(ngModel)]="terapist.first_name">
                                  <!-- <input  formControlName="firstName" *ngIf="!updateDetailsForm.firstName.requierd"  matInput placeholder="First Name" type="text" [(ngModel)]="terapist.first_name"> -->
                                  <!-- <input  formControlName="firstName" *ngIf="updateDetailsForm.firstName.requierd"  matInput placeholder="First Name (requierd)" type="text" [(ngModel)]="terapist.first_name"> -->

                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field class="example-full-width">
                                  <input formControlName="lastName"   matInput placeholder="Last Name" type="text" [(ngModel)]="terapist.last_name">
                                  <!-- <input formControlName="lastName" *ngIf="!updateDetailsForm.lastName.requierd"   matInput placeholder="Last Name" type="text" [(ngModel)]="terapist.last_name"> -->
                                  <!-- <input formControlName="lastName" *ngIf="updateDetailsForm.lastName.requierd"   matInput placeholder="Last Name (requierd)" type="text" [(ngModel)]="terapist.last_name"> -->

                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-6">
                                <mat-form-field class="example-full-width">
                                  <input formControlName="address"  matInput placeholder="Address" type="text" [(ngModel)]="terapist.address"> 
                                  <!-- <input formControlName="address" *ngIf="!updateDetailsForm.address.requierd"  matInput placeholder="Address" type="text" [(ngModel)]="terapist.address">  -->
                                  <!-- <input formControlName="address" *ngIf="updateDetailsForm.address.requierd"  matInput placeholder="Address (requierd)" type="text" [(ngModel)]="terapist.address">  -->
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field class="example-full-width">
                                  <input formControlName="phone"   matInput placeholder="Phone Number" type="text" [(ngModel)]="terapist.phone">
                                  <mat-hint class="text-danger" *ngIf="phone.errors?.pattern">Invalid Phone Number</mat-hint>
                                </mat-form-field>
                              </div>
                          </div>
              
                          <button mat-raised-button type="submit" class="btn btn-info pull-right" [disabled]="!updateDetailsForm.valid">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-1"></div>
      </div>


      <div class="row">
        <div class="col-1"></div>
          <div class="col-10">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">Change Password</h4>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                          <div class="row">
                              <div class="col-6">
                                  <mat-form-field class="example-full-width">
                                    <input  formControlName="oldPassword" matInput placeholder="Old Password" type="password">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-6">
                                <mat-form-field class="example-full-width">
                                  <input  formControlName="newPassword" matInput placeholder="New Password" type="password">
                                  <mat-hint class="text-danger" *ngIf="newPassword.errors?.pattern">Password must contain minimum 8 characters, at least one letter, one number and one special character</mat-hint>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-6">
                                <mat-form-field class="example-full-width">
                                  <input  formControlName="confirmPassword" matInput placeholder="Confirm Password" type="text">
                                  <mat-hint class="text-danger" *ngIf="confirmPassword.valid  && changePasswordForm.invalid && changePasswordForm.errors?.passwordsShouldMatch">Passwords do not match</mat-hint>
                                </mat-form-field>
                              </div>
                          </div>
              
                          <button mat-raised-button type="submit" class="btn btn-info pull-right" [disabled]="!changePasswordForm.valid">Change Password</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-1"></div>
      </div>
  </div>
</div>
